.forma {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: rgba(32, 32, 32, 1);
  margin: 70px auto 70px
  ;
}

.forma__form {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.forma__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.forma__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: white;
}

.forma__input-name {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: rgba(139, 139, 139, 1);
  outline: none;
  outline-color: rgba(61, 220, 132, 1);
}


.forma__form-input {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(32, 32, 32, 1);
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #FFF;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.forma__button {
  margin: 0;
  padding: 0;
  background: rgba(66, 133, 244, 1);
  border-radius: 3px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: white;
  width: 396px;
  height: 45px;
  border: none;
  cursor: pointer;
}

.forma__button_disabled {
  background-color: grey;
  cursor: default;
}

.forma__error {
  display: block;
  height: 10px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: rgba(238, 52, 101, 1);
}

.forma__error_auth {
  position: absolute;
  top: -20px;
}

.forma__question {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: baseline;
  justify-content: center;
  flex-wrap: nowrap;
}

.forma__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: rgba(66, 133, 244, 1);
  text-decoration: none;
}

.forma__text {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: rgba(139, 139, 139, 1);
}

.forma__submit-container {
  margin-top: 69px;
  position: relative;
}

.forma__submit-container_signin {
  margin-top: 157px;
}

@media screen and (max-width: 950px) {

  .forma {
    margin-top: 23vh;
  }
}


@media screen and (max-width: 600px) {
  .forma {
    align-items: center;
    margin-top: 7vh;
  }

  .forma__form {
    max-width: 260px;
  }

  .forma__logo {
    margin-bottom: 6vh;
  }

  .forma__button {
    width: 260px;
  }

  .forma__question {
    margin-top: 14px;
    gap: 7px;
    font-size: 12px;
  }

  .forma__link {
    font-size: 12px;
  }

  .forma__text {
    font-size: 12px;
  }

  .forma__button {
    font-size: 12px;
  }

  .forma__title {
    margin-bottom: 10vh;
  }

  .forma__submit-container {
    margin-top: 20.7vh;
  }

  .forma__submit-container_signin {
    margin-top: 32vh;
  }
}
