.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  flex-grow: 1;
}

.navigation_main {
  justify-content: flex-end;
}

.navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.navigation__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  text-align: right;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  max-height: 32px;
  white-space: nowrap;
}

.navigation__link_active {
  font-weight: 500;
  color: rgba(61, 220, 132, 1);
}

.navigation__link_main {
  font-size: 12px;
}

.navigation__link_logged {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.navigation__button {
  color: black;
  padding: 8px 20px;
  background-color: rgba(61, 220, 132, 1);
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.navigation__container {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 16px;
  grid-template-columns: 1fr 1fr 12fr;
  list-style-type: none;
}

.navigation__button_logged {
  background-color: rgba(32, 32, 32, 1);
  border-radius: 40px;
  color: white;
  justify-self: flex-end;
}

.navigation__icon {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  margin-left: 7px;
  background: #313131;
  background-image: url(../../images/icon.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  object-fit: cover;

}

.navigation__icon_img {
  width: 26px;
  height: 26px;
  margin: 0;
  object-position: center center;
  border-radius: inherit;
}

.navigation__item {
  display: flex;
  align-items: center;
}

.navigation__item_burger {
  display: none;
}

/* анимация иконки бургера */

.navigation__burger-icon {
  background-color: transparent;
  width: 34px;
  height: 34px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  margin: 0;
  border: none;
  display: none;
  padding: 0;
}

.navigation__burger-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 65%;
  background: white;
  border-radius: 20px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.navigation__burger-icon span:nth-child(1) {
  top: 0;
  left:8px;
}

.navigation__burger-icon span:nth-child(2),
.navigation__burger-icon span:nth-child(3) {
  top: 10px;
  left:8px;
}

.navigation__burger-icon span:nth-child(4) {
  top: 20px;
  left:8px;
}

.navigation__burger-icon_open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navigation__burger-icon_open span:nth-child(2) {
  transform: rotate(45deg);
}

.navigation__burger-icon_open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navigation__burger-icon_open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/* медиа запросы  */

@media screen and (max-width: 768px) {
  .navigation__item_burger {
    display: block;
    margin-top: 15vh;
  }

  .navigation {
    flex-grow: 0;
  }

  .navigation__link {
    font-size: 18px;
  }

  .navigation__link_main {
    font-size: 12px;
  }

  .navigation__link_active {
    border-bottom: 2px solid white;
    color: white;
  }

  .navigation__button {
    font-size: 10px;
  }

  .navigation__button_logged {
    margin-top: 57vh;
  }

  .navigation__container {
    flex-direction: column;
    position: absolute;
    align-items: center;
    display: none;
    gap: 28px;
  }

  .navigation__burger-icon {
    display: flex;
    z-index: 99;
  }

  .navigation__burger-icon_open {
    position: fixed;
    right: 30px;
  }

  .navigation__burger-icon_open+.navigation__container::before {
    content: "";
    display: block;
    height: 100vh;
    position: absolute;
    right: 66%;
    transform: translateX(-33%);
    width: 100%;
    background-color: black;
    opacity: .3;
  }

  .navigation__burger-icon_open+.navigation__container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 67vw;
    height: 100vh;
    background-color: rgba(32, 32, 32, 1);
    z-index: 1;
  }
}


@media screen and (max-width: 500px) {
  .navigation__burger-icon_open {
    right: 14px;
  }

  .navigation__burger-icon_open+.navigation__container::before {
    display: none;
  }

  .navigation__burger-icon_open+.navigation__container {
    display: flex;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(32, 32, 32, 1);
    z-index: 1;
  }

  .navigation__item_burger {
    margin-top: 18.5vh;
  }

  .navigation__container {
    gap: 16px;
  }

  .navigation__link {
    padding-bottom: 5px;
  }

  .navigation__button_logged {
    margin-top: 54vh;
    padding-bottom: 3px;
  }

  .navigation__link_main {
    font-size: 10px;
    padding: 0;
  }

  .navigation__link_logged {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }

  .navigation__link_active {
    padding-bottom: 3px;
  }

  .navigation__button {
    padding: 7px 12px;
  }

  .navigation__list {
    gap: 14px;
  }
}
