.filter-checkbox {
  display: flex;
  flex-direction: row;
  border: none;
  margin: 0;
  padding: 15px 19px;
}

.filter-checkbox__label {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  font-size: 13px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
  margin-right: 10px;
  cursor: pointer;
}

.filter-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  outline: none;
}

/*
.filter-checkbox__input+.filter-checkbox__visible {
  display: block;
  width: 36px;
  height: 20px;
  cursor: pointer;
  transition: all ease;
  background-image: url(../../images/tumbler-off.svg);
}

.filter-checkbox__input:checked+.filter-checkbox__visible {
  background-image: url(../../images/tumbler-on.svg);
} */


.filter-checkbox__visible:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 6px;
  bottom: 17px;
  background-color: rgba(160, 160, 160, 1);
  transition: .4s;
  -webkit-transition: .4s;
}

.filter-checkbox__input:checked+.filter-checkbox__visible {
  background-color: rgba(61, 220, 132, 1);
}

.filter-checkbox__input:checked+.filter-checkbox__visible:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  background-color: white;
}

/* Закругленные ползунки */
.filter-checkbox__visible {
  border-radius: 34px;
  width: 36px;
  height: 20px;
  background-color: rgba(52, 52, 52, 1);
  transition: .4s;
  -webkit-transition: .4s;
}

.filter-checkbox__visible:before {
  border-radius: 50%;
}


@media screen and (max-width: 900px) {
  .filter-checkbox {
    padding: 10px 19px 15px;
  }

  .filter-checkbox__label {
    margin: 0;
  }

  .filter-checkbox__visible:before {
    bottom: 20px;
  }
}


@media screen and (max-width: 500px) {
  .filter-checkbox__visible:before {
    bottom: 6px;
  }

  .filter-checkbox {
    padding-top: 45px;
  }

  .filter-checkbox__label {
    font-size: 11px;
    line-height: 18px;
  }
}
