.about-project {
  display: flex;
  flex-direction: column;
  padding: 110px 70px;
  background-color: rgba(32, 32, 32, 1);
}

.about-project__title {
  margin: 0;
  padding-bottom: 23px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.04em;
  color: white;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
}

.about-project__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  margin: 0;
  margin-top: 70px;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  gap: 40px;
}

.about-project__list-item {
  max-width: 550px;
}

.about-project__item-title {
  margin: 0;
  margin-bottom: 26px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.04em;
  color: white;
}

.about-project__item-subtitle {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: white;
}

.about-project__progress-bar {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 14px;
}

.about-project__progress-bar-item {
  margin: 0;
  padding: 0;
  min-height: 36px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.about-project__progress-bar-item_backend {
  background-color: rgba(61, 220, 132, 1);
}

.about-project__progress-bar-item_frontend {
  background-color: rgba(48, 48, 48, 1);
  color: rgba(255, 255, 255, 1);
}

.about-project__progress-bar-item-caption {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #8B8B8B;
}


@media screen and (max-width: 950px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__list-item {
    max-width: 319px;
  }

  .about-project__list {
    gap: 30px;
  }

  .about-project__item-subtitle {
    font-size: 12px;
  }

  .about-project__progress-bar {
    margin-top: 93px;
  }
}

@media screen and (max-width: 500px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__list {
    margin-top: 61px;
    gap: 57px;
  }

  .about-project__progress-bar {
    grid-template-columns: 1fr 2fr;
    margin-top: 61px;
    row-gap: 10px;
  }

  .about-project__title {
    margin: 0;
    padding-bottom: 28px;
    font-size: 18px;
  }

  .about-project__progress-bar-item-caption {
    font-size: 11px;
  }

  .about-project__progress-bar-item {
    font-size: 11px;
  }

  .about-project__item-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 16px;
  }

  .about-project__item-subtitle {
    font-size: 11px;
    line-height: 16px;
  }
}
