.about-me {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 130px 70px 0;
  background-color: #202020;
  flex-direction: column;
}

.about-me__title {
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  letter-spacing: -0.88px;
  color: #FFF;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: solid 1px #DADADA;
}

.about-me__info {
  display: grid;
  grid-template-areas:
    "title photo"
    "subtitle photo"
    "text photo"
    "link photo";
  justify-content: space-between;
  margin: 68px 0 99px;
}

.about-me__name {
  max-width: 600px;
  grid-area: title;
  font-weight: 400;
  font-size: 47px;
  line-height: 54px;
  margin: 0;
  margin-bottom: 20px;
}

.about-me__subtitle {
  max-width: 600px;
  grid-area: subtitle;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 27px;

}

.about-me__text {
  max-width: 600px;
  grid-area: text;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
  margin: 0;
  margin-bottom: 78px;
}

.about-me__link {
  max-width: 600px;
  grid-area: link;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.about-me__link:hover {
  opacity: 0.7;
}

.about-me__photo {
  grid-area: photo;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 950px) {
  .about-me {
    padding: 87px 50px 0;
  }

  .about-me__info {
    margin: 66px 0 91px;
    column-gap: 49px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 700px) {
  .about-me__info {
    grid-template-areas:
      "photo"
      "title"
      "subtitle"
      "text"
      "link";
    justify-items: start;
    margin: 60px 0 71px;
  }
}

@media screen and (max-width: 500px) {
  .about-me {
    padding: 70px 14px 0;
  }

  .about-me__title {
    font-size: 18px;
    padding-bottom: 28px;
    letter-spacing: -0.72px;
  }

  .about-me__name {
    font-size: 30px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .about-me__photo {
    min-height: 352px;
    min-width: 292px;
    margin-bottom: 40px;
  }
}
